.App {
   font-family: sans-serif;
   text-align: center;
}
body,
html {
   overflow: hidden;
   margin: 0;
   height: 100%;
}

button {
   width: 150px;
   border-radius: 4px;
   height: 40px;
   background-color: white;
   border: 1px solid #333;
   cursor: pointer;
   color: #333;
}
